[2017-07-10 01:56] Ankur008 opened #2 "Is it possible to add the skip and next button in this library?"

[2017-07-10 18:06] UsernameInvalidException opened #4 "OnSpotlightEndedListener isn't called if an OnStarted listener isn't also set"
Any code inside an OnSpotlightEndedListener isn't called unless an OnSpotlightStartedListener is also set.

[2017-07-10 19:10] n1lsB commented on #4
I think at line [246](https://github.com/TakuSemba/Spotlight/blob/master/spotlight/src/main/java/com/takusemba/spotlight/Spotlight.java#L246) of Spotlight.java instead of

`if (startedListener != null) endedListener.onEnded();`

it should be

`if (endedListener != null) endedListener.onEnded();`

[2017-07-10 21:11] UsernameInvalidException commented on #4
I think you're right. Let me try that in my fork and see if it fixes the issue

[2017-07-10 21:27] UsernameInvalidException opened #5 "Spotlight isn't centered properly for some targets"
For some targets, the spotlight is centered correctly, but for others, it is centered on the corner of the target. Example:

![screenshot_20170710-171444-2](https://user-images.githubusercontent.com/28464769/28040802-fe2dd3c2-6594-11e7-82dc-b6897cb810f7.png)

[2017-07-11 01:45] TakuSemba commented on #2
thanks, I will think about it for the next version.
probably, i will provide interfaces for skipping and moving the next target.

[2017-07-11 01:45] TakuSemba commented on #4
yea, thats the cause. thanks for telling me.

[2017-07-11 01:46] TakuSemba commented on #5
thanks for telling me, i will look into it.

[2017-07-11 05:03] TakuSemba commented on #5
can you show me the code? @UsernameInvalidException

[2017-07-11 11:52] UsernameInvalidException commented on #5
@TakuSemba The code that created the above example?

[2017-07-11 13:01] TakuSemba commented on #5
yes. @UsernameInvalidException

[2017-07-11 15:03] UsernameInvalidException commented on #5
@TakuSemba Well, have a look in [this file](https://github.com/HueToYou/ChatExchange/blob/ee872a6b9107368f58f5cdf2672c24573edd3527/app/src/main/java/com/huetoyou/chatexchange/ui/misc/TutorialStuff.java). The `swipeToDel` spotlight [(line 291)](https://github.com/HueToYou/ChatExchange/blob/ee872a6b9107368f58f5cdf2672c24573edd3527/app/src/main/java/com/huetoyou/chatexchange/ui/misc/TutorialStuff.jav

[2017-07-11 15:52] TakuSemba commented on #4
I have just fixed this. I will release 1.0.2 soon.

[2017-07-12 09:52] zhangruize commented on #5
should be wrong with `setPoint` method.

[2017-07-12 10:13] TakuSemba commented on #5
the source code is pretty simple as you see below

[code]

location[0] is view's left edge, location[1] is view's top edge.
can you check and tell me, each location[0], location[1], view.getWidth(), and view.getHeight() are what you expected.

@UsernameInvalidException

[2017-07-12 15:22] TakuSemba commented on #4
1.0.2 released, im closing this

[2017-07-12 15:22] #4 closed

[2017-07-12 16:19] Dream-cxc opened #7 "view"
If you want to achieve such as the effect of the map, used to indicate the progress, what is the good way?

[2017-07-13 01:32] TakuSemba commented on #7
well, I dont understand what your saying. can you show me a image or gif???

[2017-07-13 03:32] TakuSemba opened #8 "Add Test"
it would be appreciated, if someone could write tests for me...

[2017-07-13 08:23] Dream-cxc commented on #7
I am sorry, my ability to express is not very good, I have encountered such a netizen, their boss needs him to achieve your gif style flow chart,

[2017-07-13 09:17] TakuSemba commented on #7
what you can do is the animation on [read.me](https://github.com/TakuSemba/Spotlight/blob/master/README.md).
there is nothing more than that....

[2017-07-13 14:47] Dream-cxc commented on #7
Is that the effect map the company's needs?

[2017-07-14 01:21] TakuSemba commented on #7
well, no. I created it personally.

[2017-07-18 07:49] #7 closed

[2017-07-25 10:48] asdf19910719 opened #9 "A probrelm with black panel"
I have a problem,the black panel is gray.no black when i Running program...

[2017-07-30 07:59] TakuSemba commented on #9
can i see a gif or screen shot ??

[2017-07-30 08:00] TakuSemba commented on #9
and code if you can

[2017-08-05 06:01] #9 closed

[2017-08-05 06:02] #5 closed

[2017-10-25 07:10] #8 closed

[2017-11-11 13:06] anujdeo opened #10 "Code works only from OnClickListener() of a button ."
I have created a method to create SimpleTarget and show a SpotLight.
[code]

If I call it inside ```View.OnClickListener()``` it works correctly and focuses on my all views.
But if I call it in ``` onCreate()```  it does not focus correctly. Instead, it focuses on top of my activity.

Check my full code as below:

On Create of Activity :
[code]

Method that creates spotlight:
[code]

[2017-11-14 06:52] TakuSemba commented on #10
@anujdeo

It's probably because you call it in onCreate, in which view hasn't been inflated yet.

try this in onCreate

[code]

[2017-11-15 09:39] anujdeo commented on #10
Thanks @TakuSemba its working.

[2017-11-27 04:56] putrapurba opened #11 "Set click listener only in spotlight"
hi there, i want to implement on click only on spotlight so i can say it cant cancellable on when user touch on black area. Is this feature already implemented? or is there any code to backup this logic?

thank you

[2017-11-27 09:48] #10 closed

[2017-11-27 10:11] TakuSemba commented on #11
thank you for the issue, the answer is unfortunately, no.
there is no way to do so.

[2017-12-17 05:47] Radmanfar opened #12 "Spotlight Always on Corner point"
i use spotlight same the sample
but in my project , spotlight always show in corner
<a href="http://uupload.ir/view/nuly_screenshot_1513489353.png" target="_blank"><img src="http://uupload.ir/files/nuly_screenshot_1513489353_thumb.png" border="0" alt="آپلود عکس" /></a>

<a href="http://uupload.ir/view/4na2_screenshot_1513489297.png" target="_blank"><img src="http://uupload.ir/files/4na2_screenshot

[2017-12-18 06:11] RagavendraM commented on #12
@Radmanfar I'm also facing issue. I checked to take view StartPosition its (0,0) thats y its showing Top left Corner.

[2017-12-22 09:24] WuFengXue opened #13 "SpannableString not support for setTitle and setDescription of SimpleTarget.Builder"
SpannableString is useful in showing customized text.

recommend use
    public Builder setTitle(CharSequence title)
instead of
    public Builder setTitle(String title)

[2017-12-25 02:43] LongAgoLong opened #14 "can't set alpha?"
it's always in zero to one, can you provide method to set zero to 0.x?

[2017-12-27 06:53] LongAgoLong opened #15 "only circle nor square？"
only circle nor square？

[2017-12-27 15:42] laozhao1005 opened #16 "com.takusemba.spotlight.SpotlightView.turnDown(float, long, android.animation.TimeInterpolator)' on a null object reference"
java.lang.NullPointerException: Attempt to invoke virtual method 'void com.takusemba.spotlight.SpotlightView.turnDown(float, long, android.animation.TimeInterpolator)' on a null object reference

[2018-01-24 01:26] TakuSemba commented on #12
can you tell me what device are you using?

[2018-01-25 22:39] maherhanafi commented on #14
@LongAgoLong I created a Pull Request to let user define the color they want for the overlay.
I hope @TakuSemba will review and accept this to be merged

[2018-01-26 01:56] TakuSemba commented on #14
thanks, i will check @maherhanafi

[2018-01-27 13:27] TakuSemba commented on #15
I dont have any plans to provide a square option yet.
I will reopen this, when i would.
thanks 👍

[2018-01-27 13:27] #15 closed

[2018-01-27 13:29] TakuSemba commented on #14
I released a new version which supports background overlay color. 👍

[2018-01-27 13:29] #14 closed

[2018-01-27 13:31] TakuSemba commented on #16
could you give me a details?
any conditions?

[2018-02-07 08:50] josephmangmang commented on #12
Same issue when using here. i'm using setPoint(view)

[2018-02-07 14:14] TakuSemba commented on #12
OK, I'll look into it.
Is there any conditions? Does that happen always or on any specific devices???

[2018-02-08 11:20] josephmangmang commented on #12
I see. It only happens when you want to show spotlight immediately. Didn't notice there's `addOnGlobalLayoutListener`  on the Usage.  But I fixed it using
[code]

[2018-02-08 12:38] TakuSemba commented on #12
yea, thanks!

[2018-02-08 12:38] #12 closed

[2018-02-08 15:12] TakuSemba commented on #2
I added this functionality on version 1.3.0.

[2018-02-08 15:12] #2 closed

[2018-02-08 15:13] TakuSemba commented on #11
I added this functionality on version 1.3.0. check it out.

[2018-02-08 15:13] #11 closed

[2018-02-09 01:43] #16 closed

[2018-02-09 02:28] TakuSemba commented on #13
u can use CharSequence as of version 1.3.1 👍

[2018-02-09 02:28] #13 closed

[2018-02-11 10:05] mickychen0524 opened #18 "round rectangle spotlight"
Thanks for awesome library, but I am little disappointed that there is no round rectangle option.
anyone who forked and made changes for this feature?

[2018-02-11 10:18] TakuSemba commented on #18
sorry for that.
im thinking to add that feature next.

[2018-02-12 08:27] mickychen0524 commented on #18
@TakuSemba Thanks, What is eta for release new version?
Have you ever considered of custom position for title/message in the relative margin of spotlight view?

[2018-02-19 02:26] TakuSemba commented on #18
I havent decided when to release next version, but pull requests are welcome.

no, but it sounds good to add that function.

[2018-02-22 14:57] jemshit opened #19 "Need method to finish spotlight from code anytime and to check if spotlight is visible"

[2018-02-23 07:10] jemshit commented on #19
PR: https://github.com/TakuSemba/Spotlight/pull/20

[2018-02-23 09:37] priyanshu2112 opened #21 "Is this works with fragments too?"

[2018-02-28 06:03] TakuSemba commented on #21
I think it works, doesnt it?

[2018-02-28 09:27] mima5 opened #22 "How to run Spotlight immediately without Click ?"

[2018-02-28 10:28] priyanshu2112 commented on #21
Sorry, I got my problem.
and after that I wanna know how to work with Spotlight with RecyclerView?

[2018-02-28 15:14] TakuSemba commented on #22
I've already shown the way to do so in readme, check that out!.

[2018-02-28 15:14] #22 closed

[2018-02-28 15:17] TakuSemba commented on #21
I doesnt matter which view you use. you can just pass the view or rect or any thing to a target.

[2018-03-05 13:57] arindamxd commented on #19
You can try **target.closeTarget();** for close Spotlight.

[2018-03-10 12:02] adsamcik opened #24 "Target class should be public"
I see absolutely no reason why it shouldn't be, it severely limits extensibility and when trying to add different types of targets as target compile error is thrown because it can't infer the type (at least under kotlin)

[2018-03-19 16:25] TakuSemba commented on #24
thanks, I will make the target public as of version 1.3.3

[2018-03-19 16:25] #24 closed

[2018-03-19 16:27] #21 closed

[2018-03-19 16:27] TakuSemba commented on #19
yes, please use target.closeTarget();

[2018-03-19 16:27] #19 closed

[2018-03-29 06:35] dhinx opened #25 "target.getView().getTag() return Null in OnTargetStateChangedListener"
Hello,
I got trouble when put data in tag view before put in setPoint method and get data in OnTargetStateChangedListener in method onStarted and onEnded, and always got null value.

I think this is a bug.

Sorry, my english is bad.

Thank you

[2018-03-30 01:30] TakuSemba commented on #25
Ok, I'll look into it.
can you share the code how you put the data in tag?

[2018-04-09 14:30] azizarc88 opened #26 "Click Event ?"
Is there any click event listener that i can use in this library ?

[2018-04-10 09:03] fadlifebriansyah opened #27 "assign target to view.."
Hi,

im trying to implement the library, but i cant put target as a view to method setPoint(textview1);

the round is not fit to the view..

any advice would help much.

thanks

[2018-04-10 13:26] fadlifebriansyah commented on #27
SimpleTarget simpleTarget = new SimpleTarget.Builder(this)
                //location 1 = kiri kanan, location 2 = atas bawah
                .setPoint(findViewById(R.id.view1)) // position of the Target. setPoint(Point point), setPoint(View view) will work too.
                .setRadius(200f) // radius of the Target
                .setTitle(getResources().getString(R.string.preview_step1_title)

[2018-04-20 10:09] stavkidron commented on #26
What click event listeners are you looking for?

[2018-04-20 17:15] mdnazmulhasan27771 opened #28 "Logo/icon Proposal for Spotlight"
Hello,
This my logo/Icon design for your project. It's free for your project.

I design this logo using adobe illustrator cc 2017. I hope you like this logo.

![spotlight-01-01](https://user-images.githubusercontent.com/35112507/39064483-7d934710-44f0-11e8-8280-69a6faa4c0f3.jpg)

which type you need plz tell me.
If you need anything change please contact me

Md Nazmul Hasan
Email : nazmul.hasan277

[2018-04-23 07:06] TakuSemba commented on #26
you can pass your own view from CustomTarget.
There is a sample app in this repo, check that out!

[code]

reopen this if you still have a problem

[2018-04-23 07:06] #26 closed

[2018-04-23 07:08] TakuSemba commented on #27
Can you give me a screenshot of how the spotlight isnt fit.

[2018-04-23 07:10] TakuSemba commented on #28
thank you for your proposal.
I appreciate it, but currently im not thinking of changing the icon or logo.

I'll get a hold of you, when i need it.

[2018-04-23 07:10] #28 closed

[2018-04-23 07:58] dhinx commented on #25
i'm sorry for late response.

this is my code

Call methods :
[code]

Generate Target Method :
[code]

Show spotlight :
[code]

Error message :

[2018-04-23 09:45] TakuSemba commented on #25
Hi, `SimpleTarget.Builder#setPoint(view View)` is used to just get the x, and y for spotlighting the target.

As you can see the code, `target.getView()` does not return the view you set the `setPoint`, it returns the overlay view cropped in circle.

I think you should get the tag from the helpdeskButton itself.
Does it make sense?

[2018-04-24 09:58] #25 closed

[2018-04-24 10:05] dhinx commented on #25
how to pas parameter to listener ?

so, if i have data to be proceed in started / ended listener

--
Ludvianto Ovandi
Handphone : 085 775 380 003

Facebook : https://www.facebook.com/ludvianto.ovandi
Twitter : https://twitter.com/dhinxdhonx

On Mon, Apr 23, 2018 at 4:45 PM, TakuSemba <notifications@github.com> wrote:

[2018-04-24 10:45] TakuSemba commented on #25
you can pass listener to `generateTarget ()`

[code]

[2018-04-26 05:46] HimanshuNarang opened #29 "Spotlight is not started with CustomTarget"
I created a customtarget.
[code]

**Start spotlight:**
[code]

**layout : fab_filter_coachmark**

[code]

There are two issues
1. Custom view is not inflated near to the target, It inflated on the top left of screen.
2. Spotlight is not started on target.

[2018-04-26 07:04] TakuSemba commented on #29
I think you should look at these issues.

https://github.com/TakuSemba/Spotlight/issues/10
https://github.com/TakuSemba/Spotlight/issues/12

[2018-04-26 09:05] HimanshuNarang commented on #29
Above issues are not relevant. Please read my issue again.

[2018-04-26 09:09] HimanshuNarang commented on #29
As I can check Custom and Simple Target classes there is a difference between build method:

[code]
[code]
Unlike the CustomTarget in SimpleTarget class you are calculating the position of the customview to show. I think you should do the same thing with customtarget view.

[2018-04-27 14:26] AndresMorelos commented on #27
I had the same issue, the spotligth isn't fit

Code:
[code]

Image:
![whatsapp image 2018-04-27 at 9 22 51 am](https://user-images.githubusercontent.com/6563162/39367637-034e33d6-49fd-11e8-9acd-7d6f8756d420.jpeg)

[2018-04-28 02:02] TakuSemba commented on #27
Can you try after view is located as I described in Read.me?

[code]

[2018-04-28 17:15] AndresMorelos commented on #27
[code]

with this code the spotlight doesn't start/show

[2018-04-29 12:54] HimanshuNarang commented on #29
Hi @TakuSemba  I am waiting for your reply.

[2018-04-30 10:35] TakuSemba commented on #27
the code above, is the callback even called?
you mean the callback of the onGlobalLayout is called but spotlight doesnt start?

[2018-04-30 10:45] TakuSemba commented on #29
custom overlay layout should be width="match_parent", height="match_parent" so far.

because in customTarget, it not centering the your overlay view for the target.

please try to specify the with and height "match_parent"

[code]

[2018-05-04 19:11] AroundPixels opened #30 "Add "Skip tutorial" button"
Hi. First of all, thank you for so great library. I have a question, is there any way to add a button (not a target) visible all time over the overlay to add any special action? In my case would be a "Skip intro/tutorial" to close spotlight before all targets have been shown.

Thanks

[2018-05-07 12:25] taar1 opened #31 "Add "show once only" feature"
In its current state we have to handle the limiting of the displaying ourselves. It would be great if there was a feature in the api where we can define that the spotlight is displayed only once.

[2018-05-10 20:46] rcraggs commented on #31
I thing this use case doesn't belong in the library itself. There are other ways of achieving this - e.g. https://github.com/jonfinerty/Once

[2018-05-11 07:14] HimanshuNarang opened #32 "How to set radius size device specific?"
If I am setting radius in float value it will not make a circle based on device density and size.

[2018-05-13 04:31] TakuSemba commented on #32
i think you can convert dp to px like this on your side

[code]

please reopen this, if that doesnt enough for you.

[2018-05-13 04:31] #32 closed

[2018-05-13 04:32] TakuSemba commented on #27
sorry, closing this issue as not seeing your response.

[2018-05-13 04:32] #27 closed

[2018-05-13 04:35] TakuSemba commented on #31
for now, you have to save the flag on your side and control if you show the spotlight or not.
thank you for the request, but unfortunately there is no plan to implement that.
I will let you know when I do this.

[2018-05-13 04:35] #31 closed

[2018-05-13 04:36] #29 closed

[2018-05-14 01:37] TakuSemba commented on #18
at the version of 1.5.0, i added the custom shape feature.
now, you can draw your own shape implementing Shape.java

[code]

[code]

[2018-05-14 01:38] #18 closed

[2018-05-14 01:38] TakuSemba commented on #30
thank you for the suggestion, I added that feature at the version of 1.5.0!
try that out!

[code]

[2018-05-14 01:38] #30 closed

[2018-05-14 01:50] mickychen0524 commented on #18
@TakuSemba Great, Thanks for your update. How's custom position for title and message?

[2018-05-14 02:01] TakuSemba commented on #18
you can set the position for the target

[code]

and if you use the `CustomTarget.java` you can set any layout for the overlay.

[2018-05-15 06:12] AroundPixels commented on #30
Thank you so much @TakuSemba 👍

[2018-05-18 10:30] mourjan opened #33 "setTargets with ArrayList of Targets as parameter"
Good day and thank you for providing the long waited custom shape feature,

could you kindly provide another setTargets method that takes an ArrayList of CustomTargets or SimpleTargets?
It is needed when number of targets is dynamic.

or do you prefer that I fork the project and return with a pull request?

[2018-05-19 02:14] TakuSemba commented on #33
Thanks, great idea.

I will try to implement it when i have time,  or your pull request is also welcome!

[2018-05-19 07:44] mourjan commented on #33
I did a pull request with changes, and thanks again

[2018-05-19 07:44] #33 closed

[2018-05-21 01:50] TakuSemba commented on #33
now you can try it as of the version of 1.5.1. again, thank you for the PR.

[2018-05-23 10:13] mourjan commented on #33
I did and it saved me from ~30 lines of if-else statements.. cheers

[2018-05-29 08:30] nikhilpanju opened #35 "Make SpotlightView/Targetclickable"
Can you make spotlightview or the target clickable? I know we can make a custom view and set clickable there but it would be great to make the target itself clickable to make the user tap on the target to move forward

[2018-05-29 08:37] TakuSemba commented on #35
The target is a clipped area.
so if you want to click the clipped area, i think you could set a listener on your view targeting.

[2018-05-31 06:18] mnnit-LaltuKumar opened #36 "Coachmark with Dialog"
Its an awesome library but I have a query how do I show the coachmark over the dialog. Its always coming behind the dialog. I am using the DialogFragment with animation in android.

[2018-06-14 18:56] aazamk opened #38 "Can show all target at once. Without any click"
There is need to show all targeted spotlight when activity created, how to do that there is only one target showing at a time.

[2018-06-15 06:27] TakuSemba commented on #38
You cant show multiple targets at the same time for now. There is no plan to implement that feature, but i will let you know when i do.

[2018-06-18 06:39] Akinropo opened #39 "setview method not found"
There is no set view method for the customtarget and simpletarget class, Can you please help me on what cause this? also i saw that the setpoint method can also take a view parameter can this be used instead of setview? Thanks

[2018-06-19 04:43] TakuSemba commented on #39
setView method is renamed to setOverlay.

[2018-06-19 04:43] #39 closed

[2018-06-19 10:37] mitsest commented on #21
Does it work with a view pager that contains fragments?

[2018-07-12 19:03] joackimbirgersson opened #40 "Library has settings in AndroidManifest.xml that can collide with importing projects settings."
If a project that imports this library has any other configuration for these it's impossible to build.

        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

[2018-07-13 05:19] TakuSemba commented on #40
thanks, I fixed it at the version of 1.6.1

[2018-07-13 05:19] #40 closed

[2018-07-13 07:52] ashokslsk opened #41 "How to Autoscroll the spotlights to target views."
Hi there, Library does an impressive work but if I have views below the viewport library not able to autoscroll on its own what should we do in that case.

[2018-07-17 06:45] AroundPixels opened #42 "SimpleTarget setRadius renamed?"
Is this method rename to a new one? Thanks

[2018-07-17 07:18] AroundPixels commented on #42
I've found setShape() method!
Many thanks for these library updates! :)

[2018-07-17 07:18] #42 closed

[2018-07-17 14:02] MohamedAssemAli opened #43 "How to draw a rectangle not a circle?"
I tried to change the chosen shape to a rectangle but it doesn't work

[2018-07-17 15:37] MohamedAssemAli commented on #43
I have solved it myself

[2018-07-17 15:38] MohamedAssemAli commented on #43
Add this class

`package com.takusemba.spotlight.shape;

import android.graphics.Canvas;
import android.graphics.Paint;
import android.graphics.PointF;

public class Rectangle implements Shape {

    private float left, top, right, bottom;

    public Rectangle(float left, float top, float right, float bottom) {
        this.left = left;
        this.top = top;
        this.right = right;

[2018-07-17 15:38] MohamedAssemAli commented on #43
Add this class:

`

package com.takusemba.spotlight.shape;

import android.graphics.Canvas;
import android.graphics.Paint;
import android.graphics.PointF;

public class Rectangle implements Shape {

    private float left, top, right, bottom;

    public Rectangle(float left, float top, float right, float bottom) {
        this.left = left;
        this.top = top;
        this.right = right;

[2018-07-17 15:40] MohamedAssemAli commented on #43
I have solved by myself, i will comment solutions after testing many cases

[2018-07-20 09:40] cleemansen opened #44 "Close w/ back button"
It would be nice if the showcase overlay could be closed by the android (hardware) back button. I think this is the default user expectation.

[2018-07-21 02:09] TakuSemba commented on #44
well, i dont think so.
but, you can even override `onBackPressed()` and close spotlight when back button tapped, if you want to.

[2018-07-21 02:09] #44 closed

[2018-07-25 21:39] mojtabas74 opened #45 "title and text on spot"
hi i make a round rectangle for my app's help, everything fine but texts show on spot.
you  can see this problem on pictures .

![screenshot_20180726-020304](https://user-images.githubusercontent.com/16499429/43229041-9d6687a4-9078-11e8-84eb-498057611891.jpg)
![screenshot_20180726-020236](https://user-images.githubusercontent.com/16499429/43229059-b2314bb0-9078-11e8-891e-45f192167aef.jpg)

[2018-07-26 01:46] TakuSemba commented on #45
thank you for reporting. I will look into it.

[2018-07-26 01:47] TakuSemba commented on #45
can i see the class implemented shape class?

[2018-07-26 01:48] #43 closed

[2018-07-26 09:16] mojtabas74 commented on #45
yes here:

import android.graphics.Canvas;
import android.graphics.Paint;
import android.graphics.PointF;

import com.takusemba.spotlight.shape.Shape;

public class RoundRectangle1 implements Shape {

    private float width;
    private float height;

    public RoundRectangle1(float width, float height) {
        this.width = width;
        this.height = height;
    }

    @Override
    public v

[2018-07-26 09:20] mojtabas74 commented on #45
and i call it like this:

` imgHelpShowVideo=(ImageView) findViewById(R.id.imgHelpShowVideo) ;
        imgHelpShowVideo.setOnClickListener(new View.OnClickListener() {
            @SuppressLint("ResourceType")
            @Override
            public void onClick(View view) {
                if(!G.IsHelpOn) {
                    final SimpleTarget[] firstTarget = new SimpleTarget[8];

[2018-07-26 09:39] TakuSemba commented on #45
you have to return the height and the width to calculate the text's position

[code]

[2018-07-26 10:52] mojtabas74 commented on #45
yes it work for some target but not all

[code]

![screenshot_20180726-152013](https://user-images.githubusercontent.com/16499429/43258308-9bcd7e10-90e7-11e8-85a3-abe158c4ee69.jpg)
![screenshot_20180726-152033](https://user-images.githubusercontent.com/16499429/43258310-9c47d4f8-90e7-11e8-9e6c-51a591a96ffd.jpg)
![screenshot_20180726-152022](https://user-images.githubusercontent.com/16499429/432583

[2018-07-26 12:29] TakuSemba commented on #45
inside draw function,  the height and the width you are drawing is bigger than what you specified in getWidth, and getHeight.

**getWidth(), and getHeight() should be the same size of the shape you are drawing in draw()**

[code]

[2018-07-26 14:06] mojtabas74 commented on #45
i have no problem with size of shape in the picture you can see the shape find very well i try
[code]
but shapes not find at all .
the problem is text show on target

[2018-07-26 14:41] TakuSemba commented on #45
this is draw interface, i dont understand why left, top, right, bottom are point.x, point.y, point.x + width, point.y + height.

you have to use float value, because it keep changing from 0.0 to 1.0.
I think you are not drawing in a right way.

you can use custom target, if you want to set your view where you want to put.

[2018-07-26 14:54] TakuSemba commented on #45
I think this pr would be useful for you to create rectangle custom shape.

https://github.com/TakuSemba/Spotlight/pull/46

[2018-07-26 15:35] mojtabas74 commented on #45
look i get my target position and Width Height and give position to setPoints and get Width and Height to RoundRectange my code is:
[code]
after that in RoundRectangle class i start draw from starting point(setPoint(oneX, oneY)) to starting point + size of shape (point.x+(width),point.y+(height)) my code is :
[code]
so everything work fine and my target find very-well Like this:
![screenshot_20180

[2018-07-27 01:43] TakuSemba commented on #45
the problem is here.

[code]

point.x, and point.y should be the center of the shape.
you set them to be left and top. thats why text position is not right.

why are you setting point.x and point.y at top and left.

[2018-07-27 08:49] TakuSemba commented on #45
if you want to do that. you can not use simpleTarget. use Custom Target instead.

[2018-08-03 16:19] nqphuc94 opened #47 "setOverlayColor error"
I get error message "Android Release error: Expected a color resource id (R.color.) but received an RGB integer" when try call
<b>setOverlayColor(ContextCompat.getColor(MainActivity.this, R.color.background))</b>

Possible cause by annotation @ColorRes in your define method setOverlayColor

[2018-08-03 19:44] Kelvao opened #48 "how to set spot in menuItem?"
menu item doesn't have "getLocationWindow"

[2018-08-04 02:09] TakuSemba commented on #47
can you pass color resource id? instead of RGB integer?

[2018-08-04 02:09] #45 closed

[2018-08-04 02:10] TakuSemba commented on #48
sorry? I dont understand your question or issue.

[2018-08-04 02:27] Kelvao commented on #48
how can i set spotlight in menu item from my toobar?

[2018-08-04 08:40] TakuSemba commented on #48
I see.

To set a spotlight, you need the location of the view.
if you cant get it, setting a spot is not achievable.

[2018-08-08 14:42] nqphuc94 commented on #47
**setOverlayColor(R.color.background)** is good, instead of setOverlayColor(ContextCompat.getColor(MainActivity.this, R.color.background))

you should update README.md file

[2018-08-08 14:42] #47 closed

[2018-08-09 01:08] TakuSemba commented on #47
I fixed it, thank you for telling me!

[2018-08-09 08:26] hiddeneyes02 commented on #43
Can you tell how did you achieve this please? I tried this, but it is not working:

[code]

[2018-08-14 03:10] LongAgoLong opened #49 "can't work when Build.VERSION.SDK_INT less than LOLLIPOP"
can't work when Build.VERSION.SDK_INT less than LOLLIPOP

[2018-09-17 08:19] RobertoAlvarezCeballos commented on #11
Sorry to reopen this but how exactly you listen only to the spotlight? I can´t see it.

[2018-09-17 08:57] RobertoAlvarezCeballos commented on #35
I´m trying the same thing right now. The whole SpotView has the click event, there is no easy way to detect onclick only on the target area.

Any ideas are welcome

[2018-09-20 10:29] agrajdek opened #50 ".setTargets(targets) does not work"
I was trying to set targets added to ArrayList but I get this error
![image](https://user-images.githubusercontent.com/3735307/45812688-cc345000-bcd0-11e8-96ef-4886394dc4d9.png)

[2018-09-23 20:29] Almaral-Engineering commented on #43
Same here, it does not wrok

[2018-09-27 21:09] MohamedAssemAli commented on #43
`
public class Rectangle implements Shape {

    private float left, top, right, bottom;

    public Rectangle(float left, float top, float right, float bottom) {
        this.left = left;
        this.top = top;
        this.right = right;
        this.bottom = bottom;
    }

    @Override
    public void draw(Canvas canvas, PointF point, float value, Paint paint) {
          /*

[2018-09-27 21:11] MohamedAssemAli commented on #43
Here you can check it

`

public class Rectangle implements Shape {

    private float left, top, right, bottom;

    public Rectangle(float left, float top, float right, float bottom) {
        this.left = left;
        this.top = top;
        this.right = right;
        this.bottom = bottom;
    }

    @Override
    public void draw(Canvas canvas, PointF point, float value, Paint paint) {

[2018-10-14 03:47] JulioManzano opened #52 "Add animation in custom shape"
how can I add an animation for a custom shape

[2018-10-30 11:09] m-Samhoury commented on #52
To animate custom shape just do this:
Here I created a rectangular shape for a button, multiplying with the value parameter does the job of animating the custom shape.

Find below the code snippet(Kotlin):
[code]

[2018-11-16 06:45] ghataa commented on #16
Same here. I opened a pull request with a fix: https://github.com/TakuSemba/Spotlight/pull/54

[2018-11-20 13:53] imrananeuronsolutions opened #55 "Not Able to draw exactly on same view"

[2018-11-20 13:54] imrananeuronsolutions commented on #55
Hello ,
Not able to  draw spotlight view on perticular view.

Thanks
Imran

[2018-11-22 07:06] TakuSemba commented on #35
sorry, i was wrong.

To work it around, you have to use an customTarget and set an listener on the view on the CustomTarget.

I will try to improve this, but I can tell when so far, sorry.

[2018-11-22 07:06] #35 closed

[2018-11-22 07:06] #38 closed

[2018-11-22 07:07] #48 closed

[2018-11-22 07:10] TakuSemba commented on #50
can you provide me a branch that i can test it?

[2018-11-22 07:11] TakuSemba commented on #55
can you provide me a branch that i can test it?

[2018-11-22 12:21] imrananeuronsolutions commented on #55
But, i have put this in our code. we are not getting position of view not getting correct. so we can highlight the exact view

[2018-12-01 09:55] sans07 opened #56 "Having Issue Implementing on Custom View !"
The Error was : java.lang.IllegalStateException: The specified child already has a parent. You must call removeView() on the child's parent first.

[code]

[code]

I tried above two different methods but both throwed same error when added as custom view !

Simple Target is working perfectly though !

[2018-12-07 18:20] JonathandelaSen commented on #43
I know this is closed but I have another solution I would like to share.

`

    private View view;
    private int margin;

    public CopyViewFormShape(View view, int margin) {
        this.view = view;
        this.margin = margin;
    }

    @Override
    public void draw(Canvas canvas, PointF point, float value, Paint paint) {
        canvas.drawRect(getRectWithMargins(point, value), paint);

[2018-12-09 12:20] imTefa opened #57 "IOS version"
Hi, is there is any plane to develop this lib on IOS?

[2018-12-24 12:16] abolfazlkalamati opened #58 "how set Font for title and Description ?"

[2018-12-25 00:45] TakuSemba commented on #58
you can not set Font on SimpleTarget. CustomTarget works for you i think.

[2018-12-25 07:54] abolfazlkalamati commented on #58
thanks - i use CustomTarget and set Font for Spotlight .

        LayoutInflater inflater = LayoutInflater.from(context);
        View first = inflater.inflate(R.layout.walk_throughs_view, null);
        TextView titleOne = first.findViewById(R.id.title_text);
        titleOne.setText("استعلام دستی");
        titleOne.setTypeface(MyFont);

        CustomTarget firstTarget =
                new Cus

[2018-12-25 08:03] abolfazlkalamati commented on #58
` LayoutInflater inflater = LayoutInflater.from(context);
        View first = inflater.inflate(R.layout.walk_throughs_view, null);
        TextView titleOne = first.findViewById(R.id.title_text);
        TextView descriptionOne = first.findViewById(R.id.description_text);
        titleOne.setText("استعلام دستی");
        descriptionOne.setText(" انتخاب تصویر چک از گالری");
        titleOne.setTyp

[2018-12-25 08:05] abolfazlkalamati commented on #58
thanks , i use CustomTarget and work it .

        LayoutInflater inflater = LayoutInflater.from(context);
        View first = inflater.inflate(R.layout.walk_throughs_view, null);
        TextView titleOne = first.findViewById(R.id.title_text);
        titleOne.setText("استعلام دستی");
        titleOne.setTypeface(bold);

        CustomTarget firstTarget =
                new CustomTarget.Builder

[2019-01-02 14:28] tolgaytoklar opened #59 "Issue about paddings"
Hi

Thanks for your work but i have a problem: If i add this library to my project my other view's paddings are not working. Do you know how to resolve this problem?

[2019-01-03 17:47] OhkuboSGMS commented on #55
If you use spotlight before finish layout calculated(e.g. use spotlight onCreate) ,view that you want to spot does not return correct position.
So you should set target and spotlight in [`addOnGlobalLayoutListener`](https://github.com/TakuSemba/Spotlight#usage) like this (kotlin)

[code]

[2019-01-05 14:19] TakuSemba commented on #57
sorry, no plans for that.

[2019-01-05 14:19] #57 closed

[2019-02-15 00:50] krisdb opened #61 "Spotlight position between phones"
The spotlight position is different between two phone.  A Pixel 2 XL emulator looks like this:

https://i.imgur.com/G7Lcrmq.png

but on a Pixel 3 XL phone (no emulator) it's here:

https://i.imgur.com/7qddSSE.png

I'm thinking the notch might be effecting the positioning.

I'm also using 1.5.0 because 1.8.0 is throwing some manifest merge compiling error.

[2019-02-19 10:06] saviart opened #63 "Manifest merger failed"
i had a issues. please help me.

"Manifest merger failed : Attribute application@appComponentFactory value=(android.support.v4.app.CoreComponentFactory) from [com.android.support:support-compat:28.0.0] AndroidManifest.xml:22:18-91
	is also present at [androidx.core:core:1.0.1] AndroidManifest.xml:22:18-86 value=(androidx.core.app.CoreComponentFactory).
	Suggestion: add 'tools:replace="android:appC

[2019-02-21 08:33] sabih1998 commented on #36
I have the same problem.
I use BottomSheetDialog and it come behind the bottomSheet.

[2019-02-22 03:33] dilipkumar4813 commented on #63
Go to your gradle.properties file and add the following lines

[code]

[2019-02-27 16:57] mariantoni commented on #48
I resolved using
`val viewTreeObserver = window.decorView.viewTreeObserver
        viewTreeObserver.addOnGlobalLayoutListener(object : ViewTreeObserver.OnGlobalLayoutListener {
            override fun onGlobalLayout() {

            }
        })  `
Inside only use de id of item menu
`val view1 = findViewById<View>(R.id.action)`
Where
`<menu
    xmlns:android="http://schemas.android.com/apk/res/an

[2019-03-01 08:56] jobingn commented on #63
I am getting compilation error. Unresolved reference

[2019-03-01 09:06] dilipkumar4813 commented on #63
Need more information on the error. A possibility is that since the library is using Androidx you would have to tailor your code for Androidx

[2019-03-02 02:39] TakuSemba commented on #63
Yes, I think https://github.com/TakuSemba/Spotlight/issues/63#issuecomment-466261294 would solve the issue.

[2019-03-13 14:48] ghataa commented on #61
Same here with positioning!

[2019-03-14 07:16] TakuSemba commented on #61
take a look at this issue https://github.com/TakuSemba/Spotlight/issues/63

[2019-04-12 15:53] Tyxz opened #65 "Text overflow"
## Description
I have an issue with the description in the simple target.
When I have a large string and move the overlay point away from x=0, it won't wrap the text but lets it overflow the layout. Probably I did something wrong and I will try to fix it with a custom target, but in case it is a generell issue I wanted to let you know. Of course, if I did something wrong, any help to fix it is hig

[2019-04-13 11:27] Mr-ARBN opened #66 "<setPoint> in <SimpleTarget> mode"
`SimpleTarget firstTarget = new SimpleTarget.Builder(this)
.setPoint(findViewById(R.id.one))
.setShape(new Circle(100f))
.setTitle("the title")
.setDescription("the description")
.setOverlayPoint(100f, 100f)
.setOnSpotlightStartedListener(new OnTargetStateChangedListener<SimpleTarget>()
`
setPoint doesn't work on SimpleTarget.
it goes to top left in application, in the corner.

[2019-04-14 23:44] TakuSemba commented on #66
make sure you call `setPoint(findViewById(R.id.one))`  after views are inflated.

[2019-04-24 07:31] Elvereth opened #67 "Show previous target"
Hello,

is there a method or some workaround to show the previous target?
For moving to the next one we have _spotlight.closeCurrentTarget()_, anything similar for going back would be useful.

In this way for example in a tutorial you can have all kind of buttons, **skip**, **next** but also **back**.

[2019-04-24 10:43] Fatimamostafa commented on #67
Can you please share what's the skip method?

[2019-04-24 10:56] Elvereth commented on #67
You can use _spotlight.closeSpotlight()_ to skip it and close it altogether.

[2019-04-24 12:38] Fatimamostafa commented on #67
@TakuSemba can you please look at the issue

[2019-04-25 06:30] TakuSemba commented on #67
Unfortunate, There is no way to archive that for now.

[2019-04-28 07:32] Fatimamostafa opened #68 "How to get the position to place a xml view programmatically?"
How can I place a view in the same position as spotlight from my layout programmatically with Custom Target?

[2019-05-23 06:29] snip77 opened #69 "Can to start spotlight whit Spotlight spotlight=Spotlight.with(this)...start"
hi
i want to skip splotlight after a time so i set spotlight object in variable :
`Spotlight spotlight=Spotlight.with(this)...start();`

but i have a erorr `incompatible type` that start return void and we need spotlight object !

[2019-05-23 10:55] #69 closed

[2019-05-24 20:51] tudormarze commented on #36
@TakuSemba I have opened a pull request for this issue. Found that `Dialog` creates its own `Window`, which is different from `Activity.getWindow()`

[2019-05-27 06:41] 420907 opened #71 "Arrow pointing from title/detail to lighted item"
I want to show an arrow pointing from title/detail text to lighted item. Could you please confirm how we can achieve the same.

[2019-07-05 09:28] chintan369 commented on #35
Is this now clickable a target or shape in the current version?

[2019-07-11 22:39] emailsubjekt opened #74 "CustomTarget error"
I get this when setting custom target in a java project ( No kotlin, cause that's how I roll)

        Spotlight.with(this)
                .setOverlayColor(R.color.background)
                .setDuration(1000L)
                .setAnimation(new DecelerateInterpolator(2f))
//                .setTargets(fab, secondTarget, thirdTarget ...)
//                .setTargets(simpleTarget, simpleTarget2)

[2019-07-12 11:13] nagarajks88 opened #75 "error: duplicate value for resource 'attr/fontStyle' with config ''."
Once I imported 'SpotLight' library, i am getting above issue .. Kindly help..

org.gradle.execution.MultipleBuildFailures: Build completed with 1 failures.
AAPT: error: duplicate value for resource 'attr/fontStyle' with config ''.
AAPT: error: resource previously defined here.

[2019-07-20 13:38] modydevelops opened #76 "java sample"
The sample is in kotlin. is there a similar one using java?

[2019-07-20 14:40] modydevelops commented on #76
there's no skip target, setDuration doesn't work and malfunction if started once the app start. totally not recommended library

[2019-07-20 14:40] #76 closed

[2019-09-05 23:32] TakuSemba commented on #75
I can take a look if you could give me a sample code that I can reproduce.

[2019-09-18 06:08] kellypitts91 commented on #69
I know this is old but if anyone else comes across the issue as well.
I had the same issue, if you do the following it will work
`Spotlight spotlight = Spotlight.with(this);
...
spotlight.start()`

[2019-09-18 08:11] kellypitts91 commented on #10
Hi what view do you use for `view.getViewTreeObserver()` I've tried adding it to different views and I still get it so that the background is still greyed out. It doesn't work when I use in oncreate. I've also tried `buttonMenu.post(() -> startSpotlight(first, target));`

[2019-10-12 04:49] sumit269 commented on #36
Does this issue still exist?

[2019-10-12 14:56] mnnit-LaltuKumar commented on #36
I have solved the issue.

On Sat, Oct 12, 2019, 10:19 AM Sumit Bhatia <notifications@github.com>
wrote:

[2019-10-16 18:02] sahilgoel commented on #56
I am having the same issue. Did you figure out the cause?

[2019-10-29 17:08] OliverCulleyDeLange opened #79 "Draw Spotlight over activity, not DecorView"
This probably isn't functionality wanted by many, so i made a fork which draws the spotlight overlay within the root view instead of the DecorView which means your custom target views don't have to worry about whether the nav buttons / app bar exists

This was useful for me, so it might be useful for others...

https://github.com/OliverCulleyDeLange/Spotlight
  `  implementation 'com.github.Oliver

[2019-10-30 08:17] TakuSemba commented on #79
Thank you for sharing this.
I really appreciate your idea and might reimplement in your suggested way.

[2019-11-10 18:54] TakuSemba commented on #79
I added functionality to set a container of Spotlight as of the version of 2.0.0.
So, please check it out!

[2019-11-10 18:54] #79 closed

[2019-11-10 18:55] #36 closed

[2019-11-10 18:57] TakuSemba commented on #59
Sorry for the late response.

Can you reproduce on the sample app module in Spotlight?
I can check it out if you can modify the app to show your problem.

[2019-11-10 18:59] TakuSemba commented on #55
I'm closing this because it looks like this issue is solved thanks to @OhkuboSGMS 's response.

[2019-11-10 18:59] #55 closed

[2019-11-10 18:59] TakuSemba commented on #67
As of 2.0.0, you can go back to the previous target with Spotlight#previous().
Thank you.

[2019-11-10 18:59] #67 closed

[2019-11-10 19:01] TakuSemba commented on #66
I'm closing this because `SimpleTarget` is removed as of the version of 2.0.0

[2019-11-10 19:01] #66 closed

[2019-11-10 19:19] TakuSemba commented on #41
Sorry, currently there is no plan to add this functionality.

[2019-11-10 19:20] TakuSemba commented on #50
I'm closing this due to the lack of information.

[2019-11-10 19:20] #50 closed

[2019-11-10 19:20] TakuSemba commented on #52
Yep. You can create a custom shape to tweak the animation.
Thank you @m-Samhoury .

[2019-11-10 19:20] #52 closed

[2019-11-10 19:21] TakuSemba commented on #58
I'm closing this because `SimpleTarget` is removed at the version of 2.0.0

[2019-11-10 19:21] #58 closed

[2019-11-10 19:23] TakuSemba commented on #56
It's because you are setting an overlay view that has already a parent.
You can see more detail in the sample app module in Spotlight.

[2019-11-10 19:23] #56 closed

[2019-11-10 19:24] TakuSemba commented on #63
I'm closing this because it seems like the issue was solved.

[2019-11-10 19:24] #63 closed

[2019-11-10 19:27] TakuSemba commented on #65
Sorry for the late response and thank you for providing detailed information.
In such a case, you have to use CustomTarget (which is renamed to Target and SimpleTarget is removed at the version of 2.0.0).

Please reopen this if you still have the issue.
Thank you.

[2019-11-10 19:27] #65 closed

[2019-11-10 19:28] TakuSemba commented on #68
Can you give me more detail information about what you are trying to do?.

[2019-11-10 19:29] TakuSemba commented on #71
You can set your custom layout contains an arraw image with `Target.Builder().setOverlay(layout)`.

[2019-11-10 19:29] #71 closed

[2019-11-10 19:29] TakuSemba commented on #75
I'm closing this due to the lack of information.

[2019-11-10 19:29] #75 closed

[2019-11-10 19:30] TakuSemba commented on #74
This is the same as https://github.com/TakuSemba/Spotlight/issues/56

[2019-11-10 19:30] #74 closed

[2019-11-11 02:45] 420907 commented on #71
Thanks...

On Mon, Nov 11, 2019 at 12:59 AM TakuSemba <notifications@github.com> wrote:

[2019-11-15 15:21] YogeshLegendkiller opened #81 "How to add this library for tablayout?"
Hi First of all it is a fantastic library ,  i have tried to implement this library with tablayout but it doesn't work so can you help me out , let me post the code what i have tried so far:

[code]

Calling this method here:

[code]

am getting :the specified child already has a parent. You must call removeView() on the child's parent first.

How to solve this.

[2019-11-16 09:45] TakuSemba commented on #81
This is because you are setting a view which has already has a parent.
You need to inflate a new layout and set it to setOverlay().

https://github.com/TakuSemba/Spotlight/issues/56

[2019-11-16 09:45] #81 closed

[2020-01-12 12:31] abdelrahmana commented on #12
in kotlin
 constrainLayout.post {
            setSpotLight()
        }
 // so the constrainlayout is the rootlayout view and the function of setSpotLight is the function of
declaration and definition of spotlight and targets

[2020-01-19 15:46] Ynnck123 opened #84 "Showing zero targets leads to ArrayIndexOutOfBoundsException"
If you build a Spotlight with an empty list of targets and afterwards call start(), it will lead to the following `ArrayIndexOutOfBoundsException` exception:

`    java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
        at com.takusemba.spotlight.Spotlight.showTarget(Spotlight.kt:94)
        at com.takusemba.spotlight.Spotlight.access$showTarget(Spotlight.kt:21)
        at com.takusemb

[2020-01-20 07:08] nikulcears commented on #43
can you please explain which function we have to use? in case of rectangle in 2.0.1

[2020-01-23 05:27] RahulBhavani opened #85 "Hard to implement for Views in Fragment."
Hi,
Thank you for creating this awesome library.
I had hard time getting this work for Views in Fragment. The main problem in using with Views in Fragment is that we can't get View's height/width straight forwardly.
Do you have any sample which illustrate usage of this library for Fragment?

[2020-01-25 06:27] cybersa opened #86 "Can i use this library inside my paid app?"
I'm a indie developer and planning to use this library inside my paid app. But i'm not sure whether can i or not since it uses Apache 2 license. Can you help me things needs to be do? Is it enough to include Library name with link and license name in the about menu of application.  I'm new to license terms, i searched google for answer but i didn't get concrete answer. Thats why I'm posting here.

[2020-03-15 18:38] waqarr opened #87 "would you please share java demo code (not kt)"
would you please share java sample code  (not kt) with new version thank you so much

[2020-03-16 02:02] TakuSemba commented on #87
@waqarr
Hi, is there any problems when using from java code?

[2020-03-20 09:05] ranjitzade opened #88 "Using this in a recyclerView"
How to use this lib in a RecyclerView?
How to show on particular views inside recyclerview items?

[2020-03-29 15:29] VarunSaini23 commented on #87
@TakuSemba Where can i find java implementation of this library. My app is in java and i want to use this library.

[2020-03-30 02:52] TakuSemba commented on #87
You can use this library from Java code.
Do you have an error when using this library from Java code?

[2020-04-01 12:33] dduvedi opened #89 "Navigation Bar Exclusion"
Is there any way to exclude navigation bar area as if is used when we inflate a layout.

[2020-04-20 21:00] nyamwaya commented on #88
It's not clear to me either, very little support on this issue still love it though.

[2020-04-26 09:59] #88 closed

[2020-05-15 03:44] yousefYEelsayed commented on #87
I cant Spotlight.Builder(this) in java

[2020-06-17 23:37] dadou181295 opened #90 "NavigationDrawer Fragments"
Hello sir, thanks your your library.

I've been working days I can't understand I have. a navigation drawer with Main Activity hosts Fragments I want to show the stuff in fragment A, where should I create the instance ?
in Main ? or in the fragment ...
also there is .setContainer ()
I'm very confused.. please can you tell me a simple example ?

thanks you

[2020-06-18 08:47] dadou181295 commented on #90
![Capture d’écran 2020-06-18 à 11 46 39](https://user-images.githubusercontent.com/54495807/84999179-7b79b180-b159-11ea-9cc6-31bb80b98aef.png)

Please help ... :(

[2020-06-19 09:41] Happeal opened #91 "SimpleTarget and customView forced ?"
Are we forced to add a custom Overlay now ? I can't find SimpleTarget Object and Target havn't setText() method

[2020-06-29 20:39] doneill commented on #87
The library doesn't provide overloaded constructors for shapes so Java cannot create a `Circle` in the same way as existing kotlin sample which can lead to errors.  This could be an enhancement request on it's own but relevant to requesting a Java sample as well.

[2020-06-30 14:43] paras294 opened #92 "screen behind overlay is clickable"
start spotlight button is clickable after the start of the spotlight, multiple spotlight opens up.  behind view should be non - clickable.

[2020-07-24 04:55] kairliyev commented on #90
Do it in Fragment class

`private fun showSpotlight() {
        val view = this.view?.findViewById<ImageView>(R.id.button) // target view ( Icons, TextViews etc )
        view?.post {
            val location = IntArray(2) // getting target size
            view.getLocationInWindow(location)
            val x = location[0] + view.width / 2f
            val y = location[1] + view.height / 2f

[2020-07-29 10:24] mattbusuu commented on #92
@paras294

See:
https://stackoverflow.com/questions/16377593/how-to-disable-behind-view-click-event-framelayout

Just add these attributes to the FrameLayout you are using for the spotlight.
[code]

[2020-08-04 14:47] GuilhE commented on #92
Just add

`android:clickable="true"
 android:focusable="true"`

To your coach mark overlay layout parent and you're good to go.

[2020-08-04 14:55] GuilhE opened #93 "Memory Leak"
This is how I setup the coach mark:

[code]

And when the Activity is destroyed I get:

Any hint?
In the meanwhile I'll try to fix this and open a PR.

Thanks.

[2020-08-04 16:18] paras294 commented on #92
Hey TakuSemba

Thank you so much.

Sincere Regards,
Paras

On Tue, Aug 4, 2020, 20:17 GuilhE <notifications@github.com> wrote:

[2020-08-04 16:20] GuilhE commented on #92
I'm not TakuSemba 😄 but I'm glad I could help!

[2020-08-05 12:35] jamacco94 opened #94 "How to place an overlay title above/below/left/right from the target?"

[2020-08-11 14:27] NaveenKadiyala opened #95 "Displaying spotLight over Dialog"
Hi, the library was cool and working fine in activities and fragments.
But whenever i want to display the overlay on top of dialog it was displaying below the dialog.
Please suggest any possible solution..

[2020-08-13 05:38] solution888 opened #96 "Cannot add a null child view to a ViewGroup"
What is wrong?
[code]

[2020-08-13 13:15] solution888 opened #97 "How to set gradient background color?"

[2020-08-14 01:20] solution888 commented on #96
I didn't set targets before.
So I will close this issue.

[2020-08-14 01:20] #96 closed

[2020-08-29 09:20] NotNotMarshall commented on #86
Yes.. enjoy. and always remember that All you need is love

[2020-08-29 10:28] NotNotMarshall opened #98 "Spotlight starts at corner in every phone"
[code]

By the way I am using Material design UI elements the button class is com.google.android.material.button.MaterialButton. Though I checked with regular Button class but it didn't work.
In the corner again...

[2020-08-29 11:24] NotNotMarshall opened #99 "Make it well documented!"

[2020-08-29 11:24] NotNotMarshall commented on #99
Effects, and many more stuff are not explained even tho its not hard to find and implement but some people will have a hard time.

[2020-08-29 12:50] TakuSemba commented on #86
You can see what you can do from this link.
https://choosealicense.com/licenses/apache-2.0/

Yes, you can use this in your project. 👍

[2020-08-29 12:52] TakuSemba commented on #98
It's probably because you haven't waited until the views are inflated.

Can you try this below?

https://github.com/TakuSemba/Spotlight/blob/master/README.md

[code]

[2020-08-29 12:53] TakuSemba commented on #99
Thank you, I will try to add more documentation of them.

[2020-09-01 04:10] toshi0383 opened #100 "[Feature Request] Message TextView"
I'm currently working on this on my own fork.
If you'd like it, I can make it into a PR.

![Screenshot_1598932860](https://user-images.githubusercontent.com/6007952/91793874-6b4f7980-ec54-11ea-9e26-37ac381a1d58.png)

Inspired by https://github.com/ephread/Instructions

[2020-09-03 08:04] theherrsherofthunder opened #101 "hi, Im wondering how to bind the spotlight to a view with plain Java?"
My company requires me to use Java, i have no clue how to merge them together, I tried to bind the view to elements but it just slided to the extreme right of the screen...T.T
![Screenshot 2020-09-03 at 15 00 56](https://user-images.githubusercontent.com/68210293/92087879-46930780-edf6-11ea-87d3-52ba2289fa9e.png)

[2020-09-03 08:18] #101 closed

[2020-09-03 12:11] TakuSemba commented on #87
@doneill

Sorry for the late replay.
That's definitely what I should fix.
I will provide overloaded constructors for `Shape` and `Effect` on the next version, which will be released soon.

[2020-09-03 12:21] TakuSemba commented on #59
I'm closing this due to inactivity.
Please feel free to reopen this with more detailed information.
I'm willing to help you.

[2020-09-03 12:21] #59 closed

[2020-09-03 12:24] TakuSemba commented on #49
Hi, I tested on a Kitkat device and worked as expected.
Could you describe how it didn't work so that I can look into it?

I'm closing this issue for now.
Please reopen this with more detailed information.
I'm happy to help you.

[2020-09-03 12:24] #49 closed

[2020-09-03 12:28] TakuSemba commented on #68
I'm closing this issue due to inactivity.

[2020-09-03 12:28] #68 closed

[2020-09-03 12:31] #86 closed

[2020-09-03 12:36] TakuSemba commented on #61
I tested on Pixel 3 XL but could not reproduce it on the demo app.
Can you reproduce it on the demo app and share the branch so that I can look into it?

[2020-09-03 12:46] TakuSemba commented on #84
Hi, thank you for reporting the issue.
Since Spotlight is not expecting empty targets, I want you to check if it's empty before adding to Spotlight.
Instead of taking care of empty targets case, I would check if it's empty or not when targets are added then throw an exception if it's empty.

I will release this fix on the next version.
Again, thank you for reporting.

[2020-09-03 12:53] TakuSemba commented on #89
Hi, as of the version of 2.0.0, you can use `setContainer` and set a ViewGroup which excludes Navigation Bar area.

Please reopen this if it doesn't work on your case.

[2020-09-03 12:53] #89 closed

[2020-09-03 12:57] TakuSemba commented on #90
Did you figure it out?
As kairliyev said, I think it works if you do it in Fragment.

please reopen this, if there is still a problem.
I'm happy to help you.

[2020-09-03 12:57] #90 closed

[2020-09-03 13:42] TakuSemba commented on #91
Yes, SimpleTarget is removed.
You can still do the same thing using Target which we currently have.

If you want to set a text, you need to have a layout to have a TextView and set it at `Target.Builder.setOverlay()`.

[2020-09-03 13:42] #91 closed

[2020-09-03 13:47] TakuSemba commented on #92
Hi, @GuilhE.
Thank you for the help!.

I fixed for the button not to be able to be clicked while Spotlight is on.
Please check out the demo app 👍

[2020-09-03 13:47] #92 closed

[2020-09-03 13:54] TakuSemba commented on #94
You can use Target.Builder().setOverlay(layout) and set whatever layout you want to use.

In your case, you need to have a layout with a TextView at your desired position, then set it to a Target.

[2020-09-03 13:54] #94 closed

[2020-09-03 13:58] TakuSemba commented on #97
Currently, you can't set gradient background color.

Unfortunately, I'm not planning to add that functionality because I think this is a minor use case.
You can still archive it by forking this library.

[2020-09-03 13:58] #97 closed

[2020-09-03 14:39] TakuSemba commented on #99
I added an additional explanation for Shape and Effect on README.md.
Thank you for the Issue.

[2020-09-03 14:41] #41 closed

[2020-09-03 15:52] TakuSemba commented on #93
Hi, thank you for the issue.

I confirmed that SpotlightView is leaked from an unremoved listener.
I will fix it in the next version.

I appreciate your help.

[2020-09-03 15:55] GuilhE commented on #93
I've tried to use WeakReferences for the callbacks but unfortunately didn't work. I didn't try replacing with Higher-Order Functions though.

[2020-09-03 16:00] TakuSemba commented on #95
To make it clear, you want Spotlight only on a Dialog or on the entire screen while displaying a dialog?

If it's former, you can just use `Spotlight.Builder.setContainer()` and set dialog view in it. If it's latter, it's pretty difficult to archive it since the view where Spotlight is drawn is under the dialog.

[2020-09-03 16:11] TakuSemba commented on #100
Thank you for creating the issue.

While it's a nice layout, I'm not thinking about adding it to Spotlight for now since it's still archivable using `Target.Builder.setOverlay(layout)` with whatever layout you would like.

[2020-09-03 16:12] #100 closed

[2020-09-04 02:31] TakuSemba commented on #93
I believe I fixed it on v2.0.2.

Please reopen this if this still happens.

[2020-09-04 02:31] #93 closed

[2020-09-04 02:31] TakuSemba commented on #87
I fixed Shape and Effect constructors on v2.0.2.

[2020-09-04 02:31] #87 closed

[2020-09-04 02:32] TakuSemba commented on #85
Hi, I added a sample on the demo app.
Please check it out.

[2020-09-04 02:32] #85 closed

[2020-09-04 02:32] TakuSemba commented on #84
I fixed it on v2.0.2.

[2020-09-04 02:32] #84 closed

[2020-09-04 02:34] TakuSemba commented on #61
I think this happens when you use both `setAnchor(view)` and `setContainer()` and the anchor does not take the container position into consideration.

I believe I fixed it on v2.0.2.
Please reopen this, if it still happens.

[2020-09-04 02:34] #61 closed

[2020-09-04 03:15] toshi0383 commented on #100
Thanks for your response.

I would say, requiring fine-grained Overlay configuration for each time can be cumbersome for us developers. Especially for Individual developers, who don't usually have much time spending layout for Tutorials.
It's like "I give you this target view. Give user a heads-up with this message" thing. I mean, it can be simpler.

I understand that there is no solution to fit i

[2020-09-04 04:22] theherrsherofthunder opened #102 "How to create custom text overlay for each individual element"
let's say, i have 4 buttons, A, B, C, D, everytime i click to one of them, something will pop up, how do i change the change and draw and whatever i want for each of them? i have read your comments about still havent figured out the way to do it!!!

this is my code: those buttons are filters to apply for photos in my projects: If i tried to setText()

@Override
    public void onAttachedToWindow()

[2020-09-04 04:30] theherrsherofthunder commented on #102
I read some comments and you said setOverLay() for each target, does it mean for 4 buttons, i need to duplicate the same overlay with different text for 4 times. If i misunderstood your lines, please correct my understanding!

[2020-09-04 04:32] theherrsherofthunder commented on #102
![Screenshot 2020-09-04 at 11 31 24](https://user-images.githubusercontent.com/68210293/92199741-2c166800-eea2-11ea-8c38-b2c63e10b366.png)
this part, i tried to make some view gone, the other appeared but it didnt work that way, then it crashed

[2020-09-04 15:08] TakuSemba commented on #102
I do not understand what you are trying to do and what is the problem.

Could you clarify a bit more about these?

1. What you want to do.
2. The problem you have.
3. The expected behavior when `2` happens.

[2020-09-08 09:34] thePrirate opened #103 "Rough edges while drawing circle"
How do i remove rough edges with canvas draw(circle drawing), I have tried to override Shape interface and used
Paint mPaint = new Paint(Paint.ANTI_ALIAS_FLAG);  but the rough edges still there?
Thanks in advance!

[2020-09-14 17:18] iporat08 commented on #98
Hey,
i'm experiencing the same problem...
BTW, I think NotNotMarshall did as instructed here.

[2020-09-15 08:03] NotNotMarshall commented on #98
I am already doing this, forgot to include it in my question.
But still it is in the corner...
I tried both methods:
onPreDraw
and
post{}

But no use.

[2020-09-15 08:45] iporat08 commented on #98
I used the solution mentioned here:
https://stackoverflow.com/questions/32400211/view-getx-and-gety-return-0-0-after-they-have-been-added-to-the-activity

just put the code building the target and spotlight inside this code (assuming view is the view which is the anchor of your spotlight):

view.getViewTreeObserver().addOnGlobalLayoutListener(
    new ViewTreeObserver.OnGlobalLayoutListener() {

[2020-09-15 10:18] TakuSemba commented on #103
Hi, can I clarify what you mean by rough edges?

[2020-09-16 13:55] borjaruiz commented on #96
I'm having the same problem, tried many things without success. I'm using java.
myView is found using Butterknife, and if I put a breackpoint before starting spotlight, it's not null

private List<Target> getTargets() {
        List<Target> targets = new ArrayList<>();
        targets.add(new Target.Builder().setAnchor(myView).setShape(new Circle(100f)).build());
        return targets;
    }

@Ov

[2020-09-16 14:02] borjaruiz opened #104 "java.lang.IllegalArgumentException: Cannot add a null child view to a ViewGroup"
java.lang.IllegalArgumentException: Cannot add a null child view to a ViewGroup
        at android.view.ViewGroup.addView(ViewGroup.java:4952)
        at android.view.ViewGroup.addView(ViewGroup.java:4917)
        at com.takusemba.spotlight.SpotlightView.startTarget(SpotlightView.kt:116)
        at com.takusemba.spotlight.Spotlight.showTarget(Spotlight.kt:96)

Tried many things without success. I'

[2020-09-16 17:24] borjaruiz commented on #104
I just saw that if I put a .setOverlay(layout) it works fine.
I don't understand why it's mandatory to use a layout, furthermore it would be great to return a clearer exception message

[2020-10-06 19:43] onkarmonks opened #105 "Adding dynamic targets"
How to add targets after Spotlight is started?

[2020-10-09 06:19] Albul commented on #95
It is possible, no changes required. Just use `setContainer` and set root view of dialog.
Let me show an example:
[code]

[2020-10-09 06:27] Albul commented on #102
@theherrsherofthunder You need to feed diferent layouts for the inflater, not this one `R.layout.instruction_layout`
Or you could modify it after it has been inflated, like:
[code]

[2020-10-09 07:26] TakuSemba commented on #95
@Albul
Thank you for sharing your solution.

@NaveenKadiyala
Could you check if that solves your problem?

[2020-10-09 08:04] Albul opened #107 "Add ability to set background color as int"
I have resolved colors in runtime, due to light/black themes in the app. This colors is set to activity theme by attributes. So I need to set background color of `Spotlight` as int.
Also it suggest to make api more consistent, as FlickerEffect, and RippleEffect takes color as int. It would be more consistent when `Spotlight.Builder.setBackgroundColor` would take int and `Spotlight.Builder.setBackg

[2020-10-09 08:08] Albul commented on #107
@TakuSemba
First suggestion is implemented in this pull request
https://github.com/TakuSemba/Spotlight/pull/108

[2020-10-26 05:34] TakuSemba commented on #107
I'm closing this issue since the PR was merged.

Thank you @Albul !

[2020-10-26 05:34] #107 closed

[2020-11-04 14:07] TuricaHoria opened #109 "Spotlight covering bottom phone navigation"
![image](https://user-images.githubusercontent.com/56694815/98121273-c0f40c80-1eb7-11eb-9508-fd9e94dbd59b.png)

So i put on an overlay with some items and it goes over my navigation:

private fun spotlightView(view: View , ) {
            val overlay = layoutInflater.inflate(R.layout.fragment_calendar_day_detailed_info,
                context?.let { FrameLayout(it) })
            val target =

[2020-11-24 15:21] kakueki61 opened #110 "The screen becomes white at the moment after starting Spotlight when Dark Theme is enabled."
If Dark Theme is enabled, the screen becomes white at the beginning of Spotlight.

Here is the screen record I set `android:forceDarkAllowed="true"` on the sample app.

<img src="https://user-images.githubusercontent.com/1000470/100112221-52044500-2eb2-11eb-80ed-1638235d29d5.gif" align="left" width="30%">

[2020-12-16 05:37] harshkanjariya opened #111 "Ripple Effect"
ripple effect not working i have tried many times but not showing any animation.

[2021-01-04 02:49] zhouzl18 opened #112 "Add multiple targets"
How to add multiple targets to display on the screen at the same time？

[2021-01-07 11:31] henjue opened #113 "Unable to block floatingactionbutton"

[2021-02-02 13:09] mehrdaddolatkhah opened #114 "How to use Spotlight inside NestedScrollView"
Hey guys,
when I try to use Spotlight inside a NestedScrollView in the first target everything is fine. and after I scroll to the component that I need spotlight will light that component, then I need to scroll to the next component and use the spotlight. next() on that, somewhere else will light, I think the previous place for the second component, I just pass layout inflater to spotlight functio

[2021-02-04 19:36] farkerhaiku opened #115 "Please publish to something other than jCenter."
jCenter is shutting down May 1st.

See this article for details: https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[2021-02-08 11:40] GuilhE commented on #115
One thing you can do, for now, is to manually sync to MavenCentral (setup OSS [account](https://oss.sonatype.org/#welcome)) through Bintray console. It's a quick fix and latter on you can update the gradle script :)

[This](https://getstream.io/blog/publishing-libraries-to-mavencentral-2021/) may also help.

[2021-02-11 12:45] jlucas577 opened #116 "Add responsive layout"
Hello guys! I opened this pr to get help on a possible responsiveness of the library, my problem is that when I position the view on a particular float, on larger screens it is excellent and working very well, however on smaller screens it just stops being "responsive" and the view ends up being on top of others that it shouldn't ..

I've tried to set the screen percentage as a top margin for exam

[2021-02-11 14:03] Albul commented on #116
@jlucas577 First of all you need to fix your layout on a small screens.
Second you need to redesign overlay view, and put title and description of your tutorial at the very top. Or when ui component is at the top of the screen you need to readjust title and description to the bottom.
Check example from my app:
[code]
[code]

[2021-02-11 14:06] Albul commented on #116
@jlucas577 Also when you have components inside ScrollView which you want to highlight. First you need to scroll ScrollView to ensure targetView is visible on a small screen.

[2021-02-15 10:35] GuilhE commented on #115
Another nice helping article: [Migrating old artifacts from JCenter to MavenCentral](https://www.marcogomiero.com/posts/2021/move-libray-jcenter-to-maven/)

[2021-02-19 08:47] TakuSemba commented on #115
Thanks for the issue. Yes, I'm on it. I will get it done by March.

[2021-02-22 08:41] DevTheKing opened #117 "how to add image or icon in place of description"
how to add image or icon in place of
description

[2021-02-23 00:19] TakuSemba commented on #115
@farkerhaiku @GuilhE
I put all of the artifacts on MavenCentral as well.
I still have some on my plate for this but now you can use MavenCentral to use this library.

[2021-02-23 08:54] GuilhE commented on #115
@TakuSemba thanks! 🙏

[2021-02-27 12:28] #115 closed

[2021-02-28 16:03] SimonHaenle opened #119 "Wrong Spotlight on Element in Layout"
Hey there.
Using spotlight 2.0.3 (latest) I have the following issue. It keeps making a spotlight on a button in my layout, but I don't even put a spotlight there.
![Screenshot_20210228-165740_LetsFlix](https://user-images.githubusercontent.com/29062523/109424968-68a4c580-79e6-11eb-965e-450e0f14184b.jpg)
As you can see in the screenshot, there is a spotlight on the "Suchen" button, even though I n

[2021-03-11 07:16] alexandrratush opened #120 "OnTargetListener.onStarted() called twice?"
Hi. In your demo onStarted called twice. This is normal behavior?

[2021-03-18 23:24] TakuSemba commented on #120
Sorry, I will fix it and let you know once the version is released.

[2021-03-19 11:50] TakuSemba commented on #120
This is fixed on 2.0.5. Let me know if this still happens.
Thank you for reporting! 👍

[2021-03-19 11:50] #120 closed

[2021-07-08 23:58] Hussienfahmy opened #121 "Target Shift Upward When Multiple Next/Previous Clicks"
Implemented as sample app but i got this weird action in video

https://user-images.githubusercontent.com/65970301/125004112-168d4400-e059-11eb-9cdf-0e96bc5056dc.mp4

[2021-07-18 05:15] FitApps7 opened #122 "How I can draw custom layout around shape(circle/rectangle), and text on above shape"
I want to modify this library according to my need.
I want to draw a layout with animation around shape and write text on that layout
I have attached image

![spot light tutorial](https://user-images.githubusercontent.com/35890924/126056584-ec29b427-5cfc-44c8-a80a-9665a462b2a6.gif)

[2021-07-29 07:42] aryandii opened #123 "How to dismiss when click outside spotlight"
Hello TakuSemba, I have a problem to dismiss the spotlight when user click outside. I remember you have provided isClosedOnTouchedOutside attribute before. For my case, I don't implement overlay as button to dismiss the spotlight, just a simple highlight and user will dismiss it when click at any spot on the screen. Is there any solution to solved my case? Thank you

[2021-08-05 09:51] uestueab commented on #119
@SimonHaenle Hi, can you tell me how you did the arrow pointing to the spotlight? I'm working on my Thesis it would be really helpful if you i knew how to do that.

[2021-08-21 15:31] saurabh810 commented on #121
@Hussienfahmy I have also faced this issue when I provide a custom container to spotlight view.. This is due to the anchor of the target view is adjusted multiple times on the previous & next click. I have fixed this issue in this commit [073a4e1](https://github.com/TakuSemba/Spotlight/pull/124/commits/073a4e12491a790b210d1114d1b0d60780ac243e). Hope it will help you.

@TakuSemba This fix is implem

[2021-08-21 16:26] saurabh810 commented on #121
@Hussienfahmy I have also faced this issue when I provide a custom container to spotlight view. This is due to the anchor of the target view is adjusted multiple times on the previous & next click. I have fixed this issue in this commit [6aabc64.](https://github.com/saurabh810/Spotlight/commit/6aabc646b55636299695156b34bcb2d3cdfce71b). Hope it will help you.

@TakuSemba This fix is implemented in

[2021-08-23 21:17] zubair1995 opened #126 "how to draw line smothly not in two parts??/"

[2022-01-03 11:45] Namrata-8 commented on #38
Hi,  How can show multiple targets at the same time ?
have you updated code ?

[2022-01-05 07:25] NaveenKadiyala commented on #95
Sorry for the delay, I just found out this answer!!
I have left that project long back, so couldn't checkout the @Albul answer..
So closing this issue as resolved based on the Albul answer..
Thank you @Albul @TakuSemba

[2022-01-05 07:25] #95 closed

[2022-02-09 05:04] TheRealTechWiz opened #128 "disable out animation"
currently the animation includes animation while showing the element and animation while moving away from that element.
Is there any way I can disable the out animation

[2022-03-01 09:35] muhammaduzaer commented on #88
got the item of recycler view with this.

recyclerView.findViewHolderForAdapterPosition(position).itemView

[2022-03-14 19:20] valeryvpetrov-dev commented on #123
@aryandii look at this https://github.com/TakuSemba/Spotlight/pull/129 💡

[2022-04-16 16:55] rishidyno opened #130 "How to make spotlight persistence. If the current Configuration changes, from port to landscape, then spotlight index should persist."
Consider a situation when there are some configuration changes. In the current spotlight, I don't think there is any way we can persist the targeted index. In my experience, if the screen is rotated, then the spotlight restart from the beginning.

Also, consider if the user is using a different UI for different orientations, then in that case we will have to use a different layout for each target.

[2022-04-19 14:57] DerSIlent opened #131 "Background blur"
Hello,

Is there a way to set the background of the spotlight to a blur? Meaning that you cannot see the layout underneath the spotlight, due to the blur? I currently tried to but a view that matched parent on width and height but then it blocks the target being shown. Does anyone know a work around for this?

Thanks!

[2022-04-28 10:12] anmolvermamm commented on #109
Facing the same

[2022-05-06 00:38] cmy82 commented on #131
When you say the spotlight are you talking about the area around the target or the area outside the target? Area around the target, just change the alpha value so that its always 255 regardless of what the animation/interpolated value is. If you mean the area outside the target, its possible, but would entail a lot of custom drawing as you would have to draw everything except the area of the targe

[2022-05-06 00:42] cmy82 commented on #130
Everything is recreated on rotation, so the target should move with the anchored view. The only thing that would need to be adjusted are your buttons and possibly the text view, but if you are using a ConstraintLayout, then they will move as well with the rotation. If your views are that different with different orientations, you'll have to check the orientation before setting the target/spotlight

[2022-05-06 00:43] cmy82 commented on #128
Change the repeat mode from REVERSE to something else so it loops the same thing over or stops after completion.

[2022-05-06 00:46] cmy82 commented on #111
The order of the drawing is wrong in onDraw of SpotlightView, you have to flip the shape and effect draw like this:
[code]

[2022-05-06 00:52] cmy82 commented on #117
Change the view on your root layout from a TextView to an ImageView.

[2022-05-26 07:48] hrishibargal opened #132 "Coach mark on Menu items of BottomNavigation"
I am trying to show a coach mark on BottomNavigation's menu item but am not able to achieve it.
though I can show the coach mark on BottomNavigation as it is a View but not able to show specific menu items on BottomNavigation.

I tried menu item casting to view  but getting an exception like "java.lang.ClassCastException: androidx.appcompat.view.menu.MenuItemImpl cannot be cast to android.view.Vie

[2022-06-13 04:01] cmy82 commented on #132
When setting the view as the target, it is just to get the screen coordinates. You can use other means to find the coordinates of the menu item, or just set a static location for the spotlight target.

[2022-06-13 10:19] hrishibargal commented on #132
I could resolved this using co ordinates

[2022-06-13 10:19] #132 closed, assigned to nobody

[2022-09-02 09:44] shrikantingole08 commented on #109
ViewGroup viewGroup = mActivity.getWindow().getDecorView().findViewById(android.R.id.content);|

    use this container

[2022-11-13 10:52] thedroiddiv opened #135 "Support for Jetpack Compose"
Since most of the new UI development is moving toward Jetpack Compose, which is way better than XML, it would be great to have such a library for Compose.

[2022-11-30 09:11] jatin664 opened #136 "Issues with motion layout"
TransitionState executes again when the root is motion layout